# Deep Learning
--extra-index-url https://download.pytorch.org/whl/cu118
peft
torch<2.1.0
flash-attn<2.6.0
bitsandbytes
transformers<4.46.0

tqdm
rich
numpy
black
Jinja2
psutil
datasets<3.0.0
fsspec
ruff
wandb
fschat
packaging
ninja
