# Deep Learning
--extra-index-url https://download.pytorch.org/whl/cu118
peft
torch
transformers
bitsandbytes

tqdm
rich
numpy<2.0.0
black
Jinja2
psutil
datasets<3.0.0
fsspec
ruff
wandb
fschat
packaging
ninja
